*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.general{
    display:flex;
    flex-direction:column;
    gap:5px;
    border:1px solid #000;
    padding:10px;
    border-radius:15px;
    background-color: #c4bdbd;
    width:100%;
}
input{
    border-radius:15px;
    border:1px solid #000;
    background-color: gray;
    padding:5px;
    width:90%;
}